<html lang="en">

<head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />

      <title>แจ้งเตือนผู้ปกครองผ่านไลน์ | Line bot Dashboard</title>

      <!-- Custom fonts for this template-->
      <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&display=swap" rel="stylesheet" />
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <style>
            @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&display=swap");
      </style>
      <!-- Custom styles for this template-->
      <link href="/static/css/sb-admin-2.min.css" rel="stylesheet" />
</head>

<body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                  <!-- Sidebar - Brand -->
                  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                        <div class="sidebar-brand-icon">
                              <i class="fas fa-user"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3">Line Bot Admin</div>
                  </a>

                  <!-- Divider -->
                  <hr class="sidebar-divider my-0" />

                  <!-- Nav Item - Dashboard -->
                  <li class="nav-item active">
                        <a class="nav-link" href="/admin/dashboard">
                              <i class="fas fa-fw fa-tachometer-alt"></i>
                              <span>สถิติข้อมูล</span>
                        </a>
                  </li>

                  <!-- Divider -->
                  <hr class="sidebar-divider" />

                  <!-- Heading -->
                  <!-- Heading -->
                  <div class="sidebar-heading">
                        เมนู (สิทธิ์: <%= renderdata.roleName %>
                  </div>

                  <!-- Nav Item - Pages Collapse Menu -->
                  <% if(renderdata.isAdmin){ %>
                        <%- include('_admin_menu.ejs'); %>
                              <% } %>


                                    <!-- Nav Item - Utilities Collapse Menu -->
                                    <%- include('_teacher_menu.ejs'); %>

                                          <!-- Divider -->
                                          <hr class="sidebar-divider d-none d-md-block" />

                                          <!-- Sidebar Toggler (Sidebar) -->
                                          <div class="text-center d-none d-md-inline">
                                                <button class="rounded-circle border-0" id="sidebarToggle"></button>
                                          </div>
            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                  <!-- Main Content -->
                  <div id="content">
                        <!-- Topbar -->
                        <%- include('_c_mnavigation.ejs'); %>
                              <!-- End of Topbar -->

                              <!-- Begin Page Content -->
                              <div class="container-fluid">
                                    <!-- Page Heading -->
                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                          <h1 class="h3 mb-0 text-gray-800">แจ้งเตือนผู้ปกครองผ่านไลน์</h1>

                                    </div>

                                    <p class="mb-4">
                                          การแจ้งเตือนผู้ปกครองผ่านไลน์จะสามารถส่งข้อความหาผู้ปกครองที่มีการเชื่อมต่อกับไลน์ได้แล้วเท่านั้น
                                          โดยเลือกรายวิชา หลังจากนั้นเลือกชื่อนักศึกษา
                                    </p>
                                    <!-- Dropdown Card Example -->
                                    <div class="card shadow mb-4">
                                          <!-- Card Header - Dropdown -->
                                          <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">เลือกรายวิชา</h6>
                                                <div class="dropdown no-arrow">
                                                      <a class="dropdown-toggle" href="#" role="button"
                                                            id="dropdownMenuLink" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                      </a>
                                                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                            aria-labelledby="dropdownMenuLink">
                                                            <div class="dropdown-header">Dropdown Header:</div>
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                      </div>
                                                </div>
                                          </div>
                                          <!-- Card Body -->
                                          <div class="card-body">
                                                <form>
                                                      <div class="mb-3">
                                                            <label for="classSubjectId">เลือกรายวิชา</label>
                                                            <select class="form-control" id="classSubjectId"
                                                                  onchange="enableBtn()">
                                                                  <% for(var i=0; i < renderdata.Subject.length; i++) {
                                                                        %>
                                                                        <option selected disabled>เลือกรายวิชา</option>
                                                                        <option
                                                                              value="<%= renderdata.Subject[i].subjectId %>">
                                                                              <%= renderdata.Subject[i].subjectId %>
                                                                                    <%= renderdata.Subject[i].subjectName
                                                                                          %>
                                                                        </option>
                                                                        <% } %>
                                                            </select>
                                                            <div class="py-3">
                                                                  <input class="btn btn-primary btn-user btn-block"
                                                                        type="button" value="ค้นหารายชื่อนักศึกษา"
                                                                        id="getStudentBtn" onclick="getStudent()"
                                                                        disabled="disabled" />
                                                            </div>

                                                            <select class="form-control" id="classStudentList">
                                                                  <option selected disabled>เลือกรายชื่อนักศึกษา
                                                                  </option>
                                                            </select>
                                                      </div>
                                                      <div class="py-3" id="formmessage" hidden>
                                                            <div class="card card-header-actions mb-4">
                                                                  <div class="card-header">
                                                                        ข้อความ
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                              width="24" height="24" viewBox="0 0 24 24"
                                                                              fill="none" stroke="currentColor"
                                                                              stroke-width="2" stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              class="feather feather-info text-muted"
                                                                              data-bs-toggle="tooltip"
                                                                              data-bs-placement="left" title=""
                                                                              data-bs-original-title="The post preview text shows below the post title, and is the post summary on blog pages."
                                                                              aria-label="The post preview text shows below the post title, and is the post summary on blog pages.">
                                                                              <circle cx="12" cy="12" r="10"></circle>
                                                                              <line x1="12" y1="16" x2="12" y2="12">
                                                                              </line>
                                                                              <line x1="12" y1="8" x2="12.01" y2="8">
                                                                              </line>
                                                                        </svg>
                                                                  </div>
                                                                  <div class="card-body">
                                                                        <textarea class="lh-base form-control"
                                                                              type="text"
                                                                              placeholder="กรอกข้อความที่ต้องการแจ้งเตือน"
                                                                              id="message" rows="4"></textarea>
                                                                  </div>
                                                                  <div class="py-2">
                                                                        <input class="btn btn-primary btn-user btn-block"
                                                                              type="button" value="ส่งข้อความ"
                                                                              id="sendMsgBtn" onclick="sendMessage()"
                                                                              hidden />
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </form>
                                          </div>
                                    </div>
                              </div>
                  </div>
                  <!-- End of Main Content -->

                  <!-- Footer -->
                  <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                              <div class="copyright text-center my-auto">
                                    <span>Copyright &copy; 2021 Line bot Admin </span>
                              </div>
                        </div>
                  </footer>
                  <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                  <div class="modal-content">
                        <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                              </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                        </div>
                        <div class="modal-footer">
                              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                              <a class="btn btn-primary" href="login.html">Logout</a>
                        </div>
                  </div>
            </div>
      </div>

      <script>
            function getBackup() {
                  axios({
                        method: "get",
                        url: "/api/export-backup",
                  })
                        .then((result) => { })
                        .catch((error) => {
                              Swal.fire({
                                    icon: "error",
                                    title: "ดำเนินการไม่สำเร็จ",
                                    text: `${error.response.data.data}`,
                              });
                        });
            }

            function enableBtn() {
                  document.getElementById("getStudentBtn").disabled = false;
            }

            function removeOptions(selectElement) {
                  var i,
                        L = selectElement.options.length - 1;
                  for (i = L; i >= 0; i--) {
                        selectElement.remove(i);
                  }
            }

            function getStudent() {
                  removeOptions(document.getElementById("classStudentList"));
                  axios({
                        method: "post",
                        url: "/api/getStudent",
                        data: {
                              id: "GESE112",
                        },
                  })
                        .then((result) => {
                              var ele = document.getElementById("classStudentList");
                              for (var i = 0; i < result.data.getStudent.length; i++) {
                                    // BIND DATA TO <select> ELEMENT.
                                    ele.innerHTML =
                                          ele.innerHTML +
                                          '<option value="' +
                                          result.data.getStudent[i].studentId +
                                          '">' +
                                          result.data.getStudent[i].studentId +
                                          " " +
                                          result.data.getStudent[i].firstname +
                                          " " +
                                          result.data.getStudent[i].lastname +
                                          "</option>";
                              }
                              document.getElementById("formmessage").hidden = false;
                              document.getElementById("sendMsgBtn").hidden = false;

                        })
                        .catch((error) => {
                              console.error(error);
                              Swal.fire({
                                    icon: "error",
                                    title: "ดำเนินการไม่สำเร็จ",
                                    text: `ไม่สามารถรับข้อมูลได้`,
                              });
                        });
            }

            function sendMessage() {
                  var message = document.getElementById("message").value;
                  var studentId = document.getElementById("classStudentList").value;
                  axios({
                        method: "post",
                        url: "/api/send-message",
                        data: {
                              message: message,
                              studentId: studentId,
                        },
                  }).then((result) => {
                        Swal.fire({
                              icon: "success",
                              title: "ดำเนินการสำเร็จ",
                              text: `ส่งข้อความเรียบร้อย`,
                        });
                  })
                        .catch((error) => {
                              console.error(error);
                              Swal.fire({
                                    icon: "error",
                                    title: "ดำเนินการไม่สำเร็จ",
                                    text: `${error.response.data.message}`,
                              });
                        });
            }
      </script>

      <!-- Bootstrap core JavaScript-->
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="/static/js/sb-admin-2.min.js"></script>

      <!-- Page level plugins -->
      <script src="/static/vendor/chart.js/Chart.min.js"></script>

      <!-- Page level custom scripts -->
      <script src="/static/js/demo/chart-area-demo.js"></script>
      <script src="/static/js/demo/chart-pie-demo.js"></script>

      <!-- Page level plugins -->
      <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
      <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

      <!-- Page level custom scripts -->
      <script src="/static/js/demo/datatables-demo.js"></script>
</body>

</html>